<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if(typeof(title) !== "undefined") { %>
            <%= title %>
        <%  } else { %>   
            Voici un titre par defaut...
        <% } %>
    </title>
    <link rel="stylesheet" href="/css/main2col.css">
</head>
<body>
    <%- include('partiels/header') %>
    <main>
        <div><%- body %></div>
        <div>colonne de droite</div>
    </main>
    <%- include('partiels/footer') %>
</body>
</html>